.app-profile-photo {
    border: 2px solid #3097D1;
    border-radius: 50%;
    height: 40px;
    padding: 2px;
    width: 40px;
}

.app-profile-photo-lg .app-profile-photo {
    height: 75px;
    width: 75px;
}

.app-profile-photo-xl .app-profile-photo {
    height: 125px;
    width: 125px;
}

.app-nav-profile-photo  {
    border-radius: 50%;
    height: 32px;
    width: 32px;
}

.img-circle {
    height: 200px;
    width: 200px;
}

.profile-photo {
    display: inline-block;
    background-position: center;
    background-size: cover;
    height: 150px;
    vertical-align: middle;
    width: 150px;
}

.panel-profile-img {
    max-width: 100px;
    margin-top: -70px;
    margin-bottom: 5px;
    border: 3px solid #fff;
    border-radius: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
}
