.navbar {
    height: 50px;
}

.navbar .dropdown-menu > li > a {
    font-weight: 300;

    i {
        color: lighten($text-color, 25%);
    }

    i.text-success {
        color: $brand-success;
    }
}

.navbar-nav > li > a {
    padding-top: none !important;
}
