// .flex-container {
//     display: flex;
//     flex-direction: column;
//     width: 70%;
// }

// .flex-item {
//     text-decoration: none;
//     display: block;
//     border: 1px solid #b3c0ca;
//     border-radius: 5px;
//     box-shadow: 0 2px 2px rgba(59, 112, 183, 0.18);
//     margin-bottom: 20px;
//     background-color: #fff;
//     cursor: pointer;
//     position: relative;
//     transition-duration: 150ms;
//     margin: 10px;
//     padding: 20px;
// }

// .flex-item:hover {
//   transition-duration: 150ms;
//   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.18);
//   z-index: 9;
// }

// .flex-book-container {
//     display: flex;
//     justify-content: flex-start;
// }

// .flex-book-container-item {
//     padding-right: 20px;
//     width: 200px;
// }

// .book-title {
//     font-size: 20px;
//     line-height: 30px;
// }

// .book-author {
//     font-size: 15px;
// }

// /* always present */
// .expand-transition {
//   transition: all .3s ease;
//   padding: 10px;
//   background-color: #eee;
//   overflow: hidden;
// }

// /* .expand-enter defines the starting state for entering */
// /* .expand-leave defines the ending state for leaving */
// .expand-enter, .expand-leave {
//   height: 0;
//   padding: 0 10px;
//   opacity: 0;
// }

// .save-popover {
// }

// .hidden {
//   display: none;
// }

@book-search-item-bg: #fff;

.book-search-item {
    cursor: pointer;
}

.book-search-item:hover {
  background-color: darken(@book-search-item-bg, 3%);
}

.btn-action {
  font-size: 11px;
  margin-right: 10px;
}

.book-search-item-footer {
  position: absolute;
  bottom: 20px;
}
.img-circle-book-cover {
  border-radius: 0px !important;
  width: 80px !important;
}

// Book Item Save Modal Styling
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 400px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

/*
 * the following styles are auto-applied to elements with
 * v-transition="modal" when their visiblity is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter, .modal-leave {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
