.navbar-inverse {
  //height: 50px;
}

.navbar-inverse .navbar-brand {
    color: @navbar-inverse-link-color;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    color: @navbar-inverse-link-color;
}

.navbar-nav > li > a {
    cursor: pointer;
    font-weight: 400;
}

.navbar-nav > li > a,
.navbar-brand,
.hamburger {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navbar-icon {
    padding-top: 3px;
    position: relative;


    .activity-indicator {
        width: 13px;
        height: 13px;
        border-radius: 10px;
        background: @brand-danger;
        border: 2px solid #fff;
        border-radius: 10px;
        position: absolute;
        right: -1px;
        transition: all .15s;
        transform: scale(.85);
    }

    .icon { font-size: 21px; }
}

.has-activity-indicator:hover .activity-indicator {
    transform: scale(1.1);
}

.navbar .dropdown-header {
    font-weight: bold;
    margin-bottom: 5px;
}

.navbar .dropdown-menu > li > a {
    font-weight: 300;

    i {
        color: lighten(@text-color, 25%);
    }

    i.text-success {
        color: @brand-success;
    }
}

.hamburger { float: right; }

.with-navbar {
    padding-top: 30px;
}

#book-search {
   width: 300px;
}

// Shelf Autocomplete
#shelf-search {
    width: 300px;
}

.media-shelf {
  position: absolute;
  max-height: 400px;
  overflow-y: auto;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  min-width: 300px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: rgba(0, 0, 0, 0.2);
    li > h5 {
      color: @brand-primary;
    }
    li:hover {
      background-color: lighten(#98E2D5, 20%);
    }
    em {
        background: #98E2D5;
    }
}