.login-container {
  padding-top: 150px;
}

.top-container {
  padding-top: 100px;
}

.navbar {
  margin-bottom: 0px !important;
}

// To support hover affect on elements
.parent {
  position: relative;
}
.hover-content {
  display:none;
  position: absolute;
}
.parent:hover .hover-content {
  display: block;
}