.panel-profile .panel-heading {
    height: 150px;
    background-size: cover;
}

.panel-menu {
    list-style: none;
    padding: 0;
}

.jumbotron {
    color: $brand-secondary !important;
    background-color: $brand-primary !important;
}
