
// Body
$body-bg: #f5f8fa;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #189BA3;
$brand-secondary: #FFFDE7;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
// "adobe-caslon-pro"
$font-family-sans-serif: open-sans, sans-serif;
$font-size-base: 13px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: $brand-primary;
$navbar-text-color: $brand-secondary;
$navbar-height: 50px;
$navbar-margin-bottom: 0;
$navbar-default-border: none;

// Buttons
$btn-default-color: $text-color;
// Btns
$btn-primary-bg: $brand-primary;
$btn-success-bg: $brand-success;
$btn-info-bg: $brand-info;
$btn-warning-bg: $brand-warning;
$btn-danger-bg: $brand-danger;

$btn-primary-border: darken($btn-primary-bg, 5%);
$btn-success-border: darken($btn-success-bg, 5%);
$btn-info-border: darken($btn-info-bg, 5%);
$btn-warning-border: darken($btn-warning-bg, 5%);
$btn-danger-border: darken($btn-danger-bg, 5%);

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;
