
// Fonts
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,700');

// Variables
@import "variables";
// Spacing
@import "spacing";
// Elements
@import "elements/navbar";
@import "elements/images";
@import "elements/buttons";

// Utilities
@import "utilities";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Vue Cloak
[v-cloak] {
    display: none;
}
