
// Override variables here
// You can add new ones or update existing ones:

$blue: #72d0eb // Update blue
$pink: #ffb3b3 // Add pink
$family-serif: "Georgia", serif // Add a serif family

//@import "bulma"

// Override generated variables here
// For example, by default, the $danger color is $red and the font is sans-serif
// You can change these values:




// Vue Cloak
[v-cloak]
    display: none


//html
//    background: #055A5B no-repeat center center fixed /* For browsers that do not support gradients */
//    background: -webkit-linear-gradient(#055A5B, #178E96) no-repeat center center fixed /* For Safari 5.1 to 6.0 */
//    background: -o-linear-gradient(#055A5B, #178E96) no-repeat center center fixed /* For Opera 11.1 to 12.0 */
//    background: -moz-linear-gradient(#055A5B, #178E96) no-repeat center center fixed /* For Firefox 3.6 to 15 */
//    background: linear-gradient(#055A5B, #178E96) no-repeat center center fixed /* Standard syntax */
//    -webkit-background-size: cover
//    -moz-background-size: cover
//    -o-background-size: cover
//    background-size: cover
//    position: relative
//    min-height: 100%
//
//
//body
//    /* Margin bottom by footer height */
//    margin-bottom: 30px
//    font-family: 'Source Sans Pro', Helvetica, sans-serif !important
//    background: #055A5B no-repeat center center fixed /* For browsers that do not support gradients */
//    background: -webkit-linear-gradient(#055A5B, #178E96) no-repeat center center fixed /* For Safari 5.1 to 6.0 */
//    background: -o-linear-gradient(#055A5B, #178E96) no-repeat center center fixed /* For Opera 11.1 to 12.0 */
//    background: -moz-linear-gradient(#055A5B, #178E96) no-repeat center center fixed /* For Firefox 3.6 to 15 */
//    background: linear-gradient(#055A5B, #178E96) no-repeat center center fixed /* Standard syntax */
//    -webkit-background-size: cover
//    -moz-background-size: cover
//    -o-background-size: cover
//    background-size: cover

