.fb-button
    background-color: #3b5998
    color: white
    width: 100%
    justify-content: flex-start

.twt-button
    background-color: #2795E9
    color: white
    width: 100%
    justify-content: flex-start

.fb-button:hover
    color: whitesmoke

.twt-button:hover
    color: whitesmoke

.full-width-button
    width: 100%

.bigger-font-label
    font-size: 16px

.footer
    padding: 2rem 1.5rem 2rem

#social
    -webkit-box-align: center
    align-items: center
    display: flex
    flex-wrap: wrap
    margin-bottom: 1em
    -webkit-box-pack: center
    justify-content: center

#social a
    display: inline-block
    font-size: 11px
    height: 20px
    line-height: 20px
    margin: 5px

#social iframe
    margin: 5px

.profile-shelves-section
    padding: 0.5rem 1.5rem

article
    cursor: pointer

.t-is-1
    background-color: #E44A66
    color: white

.t-is-2
    background-color: #7DE0E6
    color: #1c51a6

.friend-card-image
    margin-left: auto
    margin-right: auto

.nav-item a, a.nav-item
    font-weight: bold

.about-booknshelf-tag
    background-color: $yellow
    display: inline-block
    font-weight: 700 !important
    margin-left: 14px
    padding: 10px 15px
    text-transform: uppercase
    color: $turquoise

.about-title
    font-weight: 500

.about-bio-figure
    left: calc(50% - 70px)
    padding: 8px
    background-color: darken(#00C6BD, 10%)
    border-radius: 9999px

.about-bio-figure > img
    border-radius: 9999px

.about-link
    border-bottom: 3px solid $yellow
    font-weight: 600
    position: relative
    transition: background-color 120ms

.about-link:hover
    background-color: $yellow
    color: $turquoise

//topics
.topic-title
    color: $turquoise !important

.facebook-span
    background-color: #3b5998
    color: white
    display: inline-block
    font-weight: 700 !important
    margin-left: 4px
    padding: 10px 15px
    text-transform: uppercase

.primary-span
    color: white
    display: inline-block
    font-weight: 700 !important
    margin-left: 4px
    padding: 10px 15px
    text-transform: uppercase
    background-color: $yellow
    color: $turquoise

.is-blue
    background-color: $blue
    color: #fff

.is-blue .title, .is-blue .subtitle
    color: #ffffff


// Social
.twitter-tweet-button
    background-color: #2795E9
    color: white
    justify-content: flex-start
    border: none

.facebook-share-button
    background-color: #3b5998
    color: white
    justify-content: flex-start
    border: none
