// navbar cutom helpers
.nav
    min-height: 3.875rem !important
    border-bottom: solid 1px rgba(221, 221, 221, 0.55)

.nav-item img
    max-height: 2.2rem !important

.home-search-bg
    //height: 250px;
    background-position: center center
    background-size: cover
//cursor: pointer
//background-image: url("/img/giulia-bertelli-104575.jpg")

.fb-button
    background-color: #3b5998
    color: white
    width: 100%
    justify-content: flex-start

.twt-button
    background-color: #2795E9
    color: white
    width: 100%
    justify-content: flex-start

.goodreads-button
    background-color: #F4F1EA
    color: #3C2C1A
    width: 100%
    justify-content: flex-start

.fb-button:hover
    color: whitesmoke

.twt-button:hover
    color: whitesmoke

.full-width-button
    width: 100%

.bigger-font-label
    font-size: 16px

.footer
    padding: 2rem 1.5rem 2rem

#social
    -webkit-box-align: center
    align-items: center
    display: flex
    flex-wrap: wrap
    margin-bottom: 1em
    -webkit-box-pack: center
    justify-content: center

#social a
    display: inline-block
    font-size: 11px
    height: 20px
    line-height: 20px
    margin: 5px

#social iframe
    margin: 5px

.profile-shelves-section
    padding: 0.5rem 1.5rem

article
    cursor: pointer

.t-is-1
    background-color: #E44A66
    color: white

.t-is-2
    background-color: #7DE0E6
    color: #1c51a6

.friend-card-image
    margin-left: auto
    margin-right: auto

.nav-item a, a.nav-item
    font-weight: bold

.about-booknshelf-tag
    background-color: $yellow
    display: inline-block
    font-weight: 700 !important
    margin-left: 14px
    padding: 10px 15px
    text-transform: uppercase
    color: $turquoise

.about-title
    font-weight: 500

.about-bio-figure
    left: calc(50% - 70px)
    padding: 8px
    background-color: darken(#00C6BD, 10%)
    border-radius: 9999px

.about-bio-figure > img
    border-radius: 9999px

.about-link
    border-bottom: 3px solid $yellow
    font-weight: 600
    position: relative
    transition: background-color 120ms

.about-link:hover
    background-color: $yellow
    color: $turquoise

//topics
.topic-title
    color: $turquoise !important

.facebook-span
    background-color: #3b5998
    color: white
    display: inline-block
    font-weight: 700 !important
    margin-left: 4px
    padding: 10px 15px
    text-transform: uppercase

.primary-span
    display: inline-block
    font-weight: 700 !important
    padding: 10px 15px
    text-transform: uppercase
    background-color: $yellow
    color: $turquoise

.primary-span-inverse
    display: inline-block
    font-weight: 700 !important
    padding: 10px 15px
    background-color: #00b89c
    color: #FFFFFF
    font-size: 23px !important;


.primary-span-inverse-lighter
    display: inline-block
    font-weight: 500 !important
    padding: 10px 15px
    background-color: #6e90c3
    color: #FFFFFF
    font-size: 21px !important;

.blue-span
    background-color: #5678c1
    color: white
    display: inline-block
    padding: 10px 15px

.primary-span-home
    display: inline-block
    padding: 10px 15px
    background-color: #00b89c
    color: #FFFFFF !important
    opacity: 0.9
    font-size: 2.3rem !important

.primary-span-home-subtitle
    display: inline-block
    padding: 10px 15px
    background-color: #00b89c
    color: #FFFFFF !important
    opacity: 0.9
    font-size: 1.5rem !important

.primary-span-home-pitch
    display: inline-block
    padding: 10px 15px
    background-color: $yellow
    color: $turquoise !important
    opacity: 0.9

.is-blue
    background-color: $blue
    color: #fff

.is-blue .title, .is-blue .subtitle
    color: #ffffff

// Social
.twitter-tweet-button
    background-color: #2795E9
    color: white
    justify-content: flex-start
    border: none

.facebook-share-button
    background-color: #3b5998
    color: white
    justify-content: flex-start
    border: none

.activity-indicator
    width: 10px
    height: 10px
    border-radius: 10px
    background: red
    border: 2px solid #fff
    border-radius: 10px
    right: -1px
    transition: all .15s
    transform: scale(.85)
    margin-bottom: 8px

// Popover jquery styling
.navbar-profile-menu
    position: absolute
    width: 200px
    padding: 5px
    background: white
    top: 3.875rem
    right: 0px
    opacity: 1
    display: block;
    animation-fill-mode: forwards
    animation-name: show-dropdown-from-top-DRKNW

.menu-list a
    padding: 0.7em 0.75em
// avatars
$black: #4f4f4f
$red: #d9566f
$bl: #56bcd9
$green: #7fbb15

// icons
.heroicon-outline
    fill: #626262

.heroicon-component-fill
    fill: white

.heroicon-component-accent
    fill: #7ACFC0

.heroicon-shadows
    fill: #626262
    opacity: .4


.modal-close-button
    position: absolute
    top: 40px
    left: 40px
    z-index: 200
    background: #bbbbbb
    border-radius: 50%
    padding: 14px 14px 13px 14px
    width: 34px
    height: 34px

// Helper components
.tooltip
  position: relative
  &::after
    background: rgba(69, 77, 93, 0.9)
    border-radius: $radius
    bottom: 100%
    color: #fff
    content: attr(data-tooltip)
    display: block
    font-size: $size-7
    left: 50%
    max-width: 32rem
    opacity: 0
    overflow: hidden
    padding: .4rem .8rem
    pointer-events: none
    position: absolute
    text-overflow: ellipsis
    -webkit-transform: translate(-50%, 1rem)
    -ms-transform: translate(-50%, 1rem)
    transform: translate(-50%, 1rem)
    transition: all .2s ease
    white-space: nowrap
    z-index: 200
  &:focus::after, &:hover::after
    opacity: 1
    -webkit-transform: translate(-50%, -0.5rem)
    -ms-transform: translate(-50%, -0.5rem)
    transform: translate(-50%, -0.5rem)
  &[disabled], &.disabled
    pointer-events: auto
  &.tooltip-right
    &::after
      bottom: 50%
      left: 100%
      -webkit-transform: translate(-1rem, 50%)
      -ms-transform: translate(-1rem, 50%)
      transform: translate(-1rem, 50%)
    &:focus::after, &:hover::after
      -webkit-transform: translate(0.5rem, 50%)
      -ms-transform: translate(0.5rem, 50%)
      transform: translate(0.5rem, 50%)
  &.tooltip-bottom
    &::after
      bottom: auto
      top: 100%
      -webkit-transform: translate(-50%, -1rem)
      -ms-transform: translate(-50%, -1rem)
      transform: translate(-50%, -1rem)
    &:focus::after, &:hover::after
      -webkit-transform: translate(-50%, 0.5rem)
      -ms-transform: translate(-50%, 0.5rem)
      transform: translate(-50%, 0.5rem)
  &.tooltip-left
    &::after
      bottom: 50%
      left: auto
      right: 100%
      -webkit-transform: translate(1rem, 50%)
      -ms-transform: translate(1rem, 50%)
      transform: translate(1rem, 50%)
    &:focus::after, &:hover::after
      -webkit-transform: translate(-0.5rem, 50%)
      -ms-transform: translate(-0.5rem, 50%)
      transform: translate(-0.5rem, 50%)
