#app {
  overflow: auto;
  padding-bottom: 70px; /* this needs to be bigger than footer height*/
}

.footer {
  position: relative;
  margin-top: -50px; /* negative value of footer height */
  height: 50px;
  clear: both;
  padding-top: 10px;
}